*{
	margin:0px;
	padding:0px;
}
a {
	text-decoration: none;
	font-weight: bold;
	//background-color:#00CCFF;
}
body{
	background-color:#fffff2;
}
/*label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 10px;
}*/
input[type=text],textarea{
	border: inset;
	border-width:2px;
	border-color:#ddd;
}
span {
	display: inline-block;
	font-family: sans-serif;
	//font-size: 1.1em;
}
button,input[type="button"], input[type="submit"], input[type="reset"]{
	text-align: center;
	color: #555;
	font-size: 11px;
	font-weight: bold;
	font-family:verdana;
	height: 27px;
	padding:0 8px;
	border-radius:4px;
	border: 1px solid #dcdcdc;
	background-color: #ededed;
	cursor:pointer;
}
button:hover,input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover{
	text-align: center;
	color: #222;
	font-size: 11px;
	font-weight: bold;
	font-family:verdana;
	height: 27px;
	padding:0 8px;
	border-radius:4px;
	border: 1px solid #777;
	background-color: #fff;
	cursor:pointer;
}
#container {
	
}

#header {
	width: 100%;
	height: 80px;
	//background-color: #00FF00;
	background-color: #EEE;
}

.title {
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 48px;
	color: #666666;
	position: absolute;
	left: 5%;
	top: 2%;
}
.account_links{
	/*font-weight:bold;*/
	position:relative;
	left:90%;
	top:10px;
}

.links {
	color:black;
}

.account_link{
	/*font-weight:bold;*/
	position:absolute;
	font-size: 20px;
	color: #1f32df;
	left:45%;
	top:15px;
	}
.subject{
	position:relative;
	font-size: 30px;
	color: #1f32df;
	left:45%;
	top:15px;
}
/*.tx 
	border-style: inset;
	display: block;
}*/
#main {
	width:100%;
}
#left_col {
	width: 20%;
	height: 600px;
	float: left;
	font-family: Arial;
	//background-color:#f8feFF;
}
#left_col img {
	width:700px;
	height: 550px;
}
#left_col ul{
	margin-top:30px;
	margin-left:auto;
}

#head {
	width: 100%;
	height: 80px;
	background-color: #00FF00;
}

#left_col ul li{
	color:#aaa;
	width:70%;
	margin:10px 0 0 20px;
	list-style:none;
}
#right_col {
	//background-color:#fff;
	float:left;
	width:80%;
	height: 550px;
}

/*#right_col label {
	position: relative;
	left: 10px;
	top: 50px;
}*/
/*#content span {
	position: relative;
	left: 40%;
}*/
#content td a{
	margin:10px;
}
.nav_links{
	background-color:#ddd;
	height:50px;
	text-align:center;
	font-weight:bold;
}
.nav_links a{
	font-family: arial;
	margin:1.5%;
}
.nav_links span{
	height:25px;
	position:relative;
	top:15px;
}
.index{
	//padding:5px;
	background-color:#99aa88;
	font-size:14px;
	font-family:verdana;
	color: #eee;
	font-weight:bold;
	margin-right:1.2em;
	width:8%;
}
.subjects{
	padding:1.2em;
	background-color:#fcfcff;
	
}
#right_col .tx {
	position: relative;
	left: 15%;
	//top: 10%;
	//margin: 1.2% 0 1.2% 0;
}

#mail_list{
	margin:auto;
	width:99%;
	background-color:#ededed;
	/*position:relative;
	top:25px;*/
}
#mail_list tr{
	//background-color: #66CCCC;
	//width:100%;
}
#mail_list td{
	padding:1.2%;
}
#button_holder{
	//background-color:#ddd;
	width:80%;
	height:40px;
	position:absolute;
	bottom:45px;
	margin:auto;
}
#button_holder input{
	position:relative;
	left:75%;
	margin:7px;
}
.sub-button {
	/*text-align: center;
	color: #444;
	font-size: 11px;
	font-weight: bold;
	font-family:verdana;
	height: 27px;
	padding:0 8px;
	border-radius:4px;
	border: 1px solid #dcdcdc;
	background-color: #f0f0f0;
	cursor:pointer;*/
	position: relative;
	top: 10%;
	left: 30%;
}
#footer {
	clear:both;
	width: 100%;
	background-color: #EEE;
	margin: auto;
	height: 45px;
	bottom: 0px;
}

.fn2 {
	margin-right: 10px;
	margin-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
}
.fn1 {
	margin-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	margin-top: 10px;
}
